body,
html {
  @include reset-box-model;
}

.container {
	width: 100%;
	max-width: $max-width;
	margin: 0 auto;

	position: relative;
}

.secondary-container {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}