$c-black: #000;
$c-white: #fff;
$c-white-opacity: rgba(255, 255, 255, .9);
$c-light-grey: #e6e6e6;
$c-type-grey: #aaaaaa;

// Site Colors
$c-off-white-primary: #f1efea;
$c-dark-grey: #231f20;
$c-grey: #5e6064;
$c-alt-grey: #979797;
$c-light-grey-20: rgba(205,207,210, .2);

$c-red: #ec1c24;
$c-red-75: rgba(236, 28, 36, .75);

$c-font-dark-grey: #2f2a2b;

$c-mobile-bg: rgba(31,31,31,.85);
