<footer id="footer">
	<div class='inner'>
		<div class="footer-header">
			<h2 class='-white'>Say <span>hello!</span></h2>
		</div>
		<div class="row">
			<div class='contact-information'>
				<a href='https://www.google.com/maps/place/2%2F14+Vine+St,+Redfern+NSW+2016/@-33.8895647,151.1971177,17z/data=!3m1!4b1!4m5!3m4!1s0x6b12b1d9d200b9db:0xea8315d9c34dfcea!8m2!3d-33.8895692!4d151.1993117' class="map-container" target='_blank' rel='noopener'>
					<img class='map'  src='/img/fr-map-lg.jpg' alt='Map of Future Reference Location'>
				</a>
				<div class="address-container">
					<p class='address details'>
						2-14 Vine St
						<br/>
						Redfern NSW 2016
						<br/>
						Australia
					</p>
					<div class="contact-us-container">
						<p>Contact us:</p>
						<a class='phone' href="tel:(02)95380849">(02) 95380849</a>
						<br>
						<a href='mailto:hello@futurereference.com.au'>hello@futurereference.com.au</a>
						<img class="logo-text -mobile" src="/img/fr_logo_red.png" alt="Future Reference">
					</div>
					<div class="email-div details">
						<img class="logo-text" src="/img/fr_logo_red.png" alt="Future Reference">
					</div>
				</div>
			</div>
		</div>

		<div class='line'></div>

		<div class="bottom-footer">
			<div class='social-links'>
				<a href='https://www.instagram.com/futuref_aus/' target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i><span>Future Reference on Instagram</span></a>
				<a href='https://au.linkedin.com/company/future-reference' target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i><span>Future Reference on LinkedIn</span></a>
				<a href='#' target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i><span>Future Reference on Twitter</span></a>
			</div>
			<p class='copyright' >&copy; Copyright <span class="cr-year"></span> Future Reference</p>
		</div>
	</div>
</footer>
