<header class="hero-image" id="main-nav" style="background-image: url({{ headerImage }}w=1440&fm=jpg)">
	<div class="gradient-nav"></div>
	<nav class='inner'>
		<div class="nav-bar">
			<a href="/">
				<img class="logo-text nav-logo" src="/img/fr_logo_white.png" alt="Future Reference">
				<img class="logo-mobile nav-logo" src="/img/fr_logo_mobile.png" alt="Future Reference">
			</a>
			<ul class="nav-list-desktop">
				<li><a class="index-page" href="/">Home</a></li>
				<li><a href="/services">Services</a></li>
				<li><a href="/about-us">About Us</a></li>
				<li><a class="smooth-scroll" href="#footer">Contact</a></li>
			</ul>
			<button class="mobile-indicator">
				<span class="label">Toggle menu</span>
				<span class="bar"></span>
			</button>
			<div class="mobile-nav">
				<ul class="nav-list-mobile">
					<li><a class="index-page" href="/">Home</a></li>
					<li><a href="/services">Services</a></li>
					<li><a href="/about-us">About Us</a></li>
					<li><a class="smooth-scroll contact-mob-link" href="#footer">Contact</a></li>
				</ul>
			</div>
		</div>
		{% if titleWhite %}
		<div class="header-title">
			<h1 class="title-white">{{ titleWhite }} {% if titleWhiteTwo %}<span class="title-white-two">{{ titleWhiteTwo }} </span>{% endif %}<span class="title-red">{{ titleRed }}</span></h1>
		</div>
		{% endif %}
	</nav>
</header>
