<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Future Reference{% if metaTitle %} | {{ metaTitle | safe }}{% endif %}</title>
<meta property="og:title" content="Future Reference{% if metaTitle %} | {{ metaTitle | safe }}{% endif %}"/>

<meta name="keywords" content="digital, design, experience, innovation, CX, strategy, product, service, ideation, prototyping, human centred design, ethnographic, insight, research, venture, customer, business models, disruption, solution, redfern">

<meta name="description" content="{% if metaDescription %}{{ metaDescription | safe }}{% else %}An innovation firm designed to break inertia and create impact.{% endif %}">
<meta property="og:description" content="{% if metaDescription %}{{ metaDescription | safe }}{% else %}An innovation firm designed to break inertia and create impact.{% endif %}" />

<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta property="og:image" content="{% if metaImage %}{{ metaImage }}{% else %}https://www.futurereference.com.au/img/opengraph.png{% endif %}" />

<meta property="og:site_name" content="Future Reference"/>
<meta property="og:type" content="website" />

<meta name="twitter:card" content="summary_large_image" />

<link rel="icon" type="img/png" href="/img/favicon.ico">
