<div class="noscript-page">
	<div class="noscript-content">
		<div class="cb-image">
		</div>
		<div class="enable-copy">
			Please enable Javascript to view our website
		</div>
		<div class="contact-copy">
			Alternatively, email us at <a href='mailto:reception@craveablebrands.com'>reception@craveablebrands.com</a>
		</div>
	</div>
</div>
