.ie9 {
	.agegate-container {
		.agegate {
			background-color: $c-yt-yellow;
		}
	}

	.country-select {
		#down-triangle,
		#up-triangle {
			display: none;
		}
	}

	section {
		&.two,
		&.four {
			background-color: $c-yt-blue-rgba-light;
		}
	}
}
