$mobile: 667px; // Mobile
$mobile-l: 745px; // Mobile Large
$tablet-l: 1024px; // Landscape Tablet
$tablet-p: 768px; // Portrait Tablet
$laptop-l: 1440px; // Laptop large
$desktop: 1730px; // Desktop
$desktop-l: 2560px; // 4k and above
$hero-l: 1080px;
$hero-m: 950px;
$hero-s: 850px;
