body,
html {
  @include reset-box-model;
}

section,
header,
footer {
	@include grid-container(100%);

	.inner {
		position: relative;

		@include grid-container($max-width);
		width: 90%;

		@include grid-media($mobile-grid) {
			width: 100%;
			padding: 0 7.5%;
		}
	}
}

section {
	padding: 100px 0;

	background-color: $c-white;

	@include grid-media($mobile-grid) {
		padding: 12.5% 0;
	}
}

/* Layout Bootstapping */

// Padding values
.padding-10 {
	padding: 10px;
}
.padding-12 {
	padding: 12px;
}

.padding-20 {
	padding: 20px;
}

// text values
.text-center {
	text-align: center;
}

// position flexing
.flex-center-middle {
	display: flex;
	align-items: center;
	justify-content: center;
}

.flex-center {
	display: flex;
	justify-content: center;
}

.flex-middle {
	display: flex;
	align-items: center;
}

.flex-col-center-middle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.flex-col-middle {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
