<section class='store'>
	<div class="inner">
		<div class='search-container'>
			<h2>
				Where to buy
			</h2>
			<form action='{{ site.url }}/stores/' class='store-form'>
				<div class='icon'></div>
				<input id="locationName" name="q" type='text' class='location'
				aria-label="Where to buy input form field - insert an address and press enter to navigate to the stores page and find a wine reseller near you" 
				placeholder='E.g. New York 10001'>
				<input type='submit' value='find'
				aria-label="Where to buy input form field button - insert an address in the previous field and press enter to navigate to the stores page and find a wine reseller near you">
			</form>
		</div>
	</div>
</section>
