$c-black: #000;
$c-light-black: #303030;
$c-lighter-grey: #e0e0e0;
$c-mid-grey: #5d5d5d;
$c-white: #fff;

// Brand Colours

$c-green: #00945f;
$c-teal: #008bac;
$c-purple: #8348ad;
$c-yellow: #ffb81d;
$c-new-yellow: #fac800;
$c-grey: #323232;
$c-light-grey: #dad9d7;
$c-soft-grey: #f7f7f7;
$c-pink: #e64784;
$c-career-grey: #ededed;

$c-map: #8562b5;

$c-rgba-grey: rgba(0, 0, 0, .3);
$c-rgba-grey-dark: rgba(0, 0, 0, .4);
$c-lightbox-bg: rgba(0, 0, 0, .9);
$slick-arrow: rgba(0, 0, 0, .3);

// Social Colors
$c-linkedin-blue: #1761c0;
