/*
wp-content/
!test/
!theme-src/
!lib/
.*
vendor/
!.gitignore
!.bowerrc
!.jshintrc
!.jscsrc
!.babelrc
!.eslintrc.json

!gulpfile.js
!bower.json
!composer.json
!composer.lock
!.env.example
!package.json
!README.md
!index.php
!npm-shrinkwrap.json
!.sass-lint.yml
!.esdoc.json
!RELEASES.md
~*
Thumbs.db
*.sublime-project
*.sublime-workspace
*.log
*.css.map

node_modules/
bower_components/
.ftppass
.DS_Store

lib/sprite-generator/sprites/*
