// Grid settings
$max-width: 800px;

$neat-grid: (
  columns: 12,
  gutter: 10px,
  color: rgba(#00d4ff, 0.25),
  direction: ltr
);

@import 'normalize';
@import 'bourbon';
@import 'neat';
@import 'vendor/*';

// Variables
@import 'base/*';

// Components
@import 'components/*';
@import '../components/**/*';
