.progress-bar {
	margin-bottom: 40px;

	width: 100%;
	max-width: 694px;

	background-color: $c-light-grey;

	> span {
		display: block;
		height: 6px;
	}

	.bottom {
		width: 0%;
		background-color: $c-black;

		transition: width 270ms ease-out;

		&.-ten {
			width: 10%;
		}

		&.-twenty {
			width: 20%;
		}

		&.-thirty {
			width: 30%;
		}

		&.-forty {
			width: 40%;
		}

		&.-fifty {
			width: 50%;
		}

		&.-sixty {
			width: 60%;
		}

		&.-seventy {
			width: 70%;
		}

		&.-eighty {
			width: 80%;
		}

		&.-ninety {
			width: 90%;
		}

		&.-one-hundred {
			width: 100%;
		}
	}
}
