.row-tiles {

	.heading-container {
		display: flex;
		justify-content: space-between;
		width: 100%;
		margin: 10px 0;
		border-bottom: 1px solid $c-light-grey;
		color: $c-off-black;

		@include grid-media($mobile) {
			width: calc(100% - 50px);
			margin: 10px 25px;
		}

		h3 {
			@include f-primary-regular;
			margin-bottom: 0;
			font-size: 22px;

			@include grid-media($mobile) {
				font-size: 16px;
			}
		}

		a {
			@include f-primary-regular;
			font-size: 14px;
			text-transform: uppercase;

			@include grid-media($mobile) {
				font-size: 12px;
				color: $c-grey;
			}

			&:hover {
				color: $c-primary;
			}
		}
	}

	.row {
		display: flex;

		@include grid-media($mobile) {
			flex-wrap: wrap;
			justify-content: center;
			margin-top: 20px;
		}
	}
}