// - Page Layout & Grid Settings - //
$max-width: 1200px;
$filter-width: 180px;
$filter-height: 40px;

$timing-hover: 150ms ease-out;

$transition-speed-fast: .1s;
$transition-speed-medium: .3s;

$header-height-desktop: 100px;
$header-height-mobile: 60px;
