.load-more {
	display: block;
	margin: 0 auto 50px;
	width: 100px;

	background-color: rgba(0,0,0,0);

	border: 1px solid $c-dark-grey;
	padding: 5px;
	text-decoration: none;
	cursor: pointer;

	@include font-size(15px, 15px);
	color: lighten($c-dark-grey, 10%);
	outline: 0;

	transition: color .2s, background-color .2s;

	&:hover {
		color: $c-black;
		background-color: $c-dark-grey;
		outline: 0;
	}
}
