<div class='tile'>
	<div id='map{{id}}' class='map'></div>
	<div class='text'>
		<h4>
			BWW Liquor Stores
		</h4>
		<div class='address'>
			112 King St, Newtown 2042
		</div>
		<a href='#' target='_blank'>
			Get directions
		</a>
	</div>
</div>
