<section class="search-container">
	<div class='inner'>
		<div>
			<div class='text'>Your location</div>
			<form action="{{ site.url }}/{{ page.slug }}/" class='search-form'>
				<input id="locationName" name="locationName" type="text" value="" placeholder='Eg. Sydney, NSW 2000'
				aria-label="Where to buy input form field - insert an address and press enter to navigate to the stores page and find a wine reseller near you">
				<button class='search-submit'
				aria-label="Where to buy input form field button - insert an address in the previous field and press enter to navigate to the stores page and find a wine reseller near you">Search</button>
			</form>
		</div>
	</div>
</section>
