{% extends "master.twig" %}

{% block content %}
	<section>
		<div class="content not-found-container " id="content">
			<div class="not-found">
				<h1 class="not-found-title">404 Page not found</h1>
				<a href="{{site.url}}/" class="not-found-link">
					<h3>
						Back to home
					</h3>
				</a>
			</div>
		</div>
	</section>
{% endblock %}