{% extends "master.twig" %}

{% block content %}
	<div class="wine">
		{% include 'partials/wine/feature.twig' %}
		{% include 'partials/wine/store.twig' %}
		{% include 'partials/wine/range.twig' %}
	</div>
{% endblock %}
