.brand-primary {

	.content-tiles-mod {
		background: $c-purple;

		a {
			&:last-of-type {
				width: 100%;

				.tile-image {
					background-position: 0 50%;
				}
			}
		}
	}

	.banner-mod {
		background-color: $c-purple;
	}
}
