.oporto,
.red-rooster,
.chicken-treat {
	padding: 0;

	.back-button {
		.inner {
			a {
				&:hover,
				&:focus {
					color: $c-purple;
				}
			}
		}
	}

	.brand-content-mod {
		background: $c-white;
	}

	.image-carousel-mod {
		background: $c-purple;
	}

	.banner-mod {
		background-color: $c-purple;
	}
}
