.responsibilities {

	section {
		&:nth-child(odd) {
			background: $c-green;
			color: $c-white;
		}

		&:nth-child(even) {
			background-color: $c-white;
			color: $c-black;
		}
	}
}

.our-food,
.our-communities,
.our-footprint,
.our-people {
	padding: 0;
	background-attachment: fixed;

	section {
		&:nth-child(odd) {
			background: $c-green;
			color: $c-white;
		}

		&:nth-child(4n) {
			background: $c-white;
			color: $c-black;
		}

		&:nth-child(even) {
			background: transparent;
			color: $c-black;
		}
	}

	.banner-mod {
		&.-pages {
			background: $c-green;
		}
	}

	.back-button {
		.inner {
			a {
				&:hover,
				&:focus {
					color: $c-green;
				}
			}
		}
	}
}

.our-people {

	section {
		&:nth-child(2) {
			padding-top: 0;

			.quote-text {
				width: 90%;
				max-width: 550px;
				background-color: $c-green;
				padding: 30px;
				color: $c-white;
				padding-bottom: 86px;

				@include media($mobile) {
					max-width: 1500px;
					width: 100%;
				}
			}

			p {
				@include media($mobile) {
					margin-top: 18px;
				}
			}
		}

		&:nth-child(4) {
			background-color: $c-soft-grey;
			color: $c-black;
		}

		&:nth-child(5) {
			background-color: $c-green;
			color: $c-white;
		}

		&:nth-child(6) {
			background-color: $c-green;
			color: $c-white;
		}

		&:nth-child(7) {
			color: $c-black;
			background-color: $c-white;

			.quote-text {
				width: 90%;
				max-width: 550px;
				background-color: $c-green;
				padding: 30px;
				color: $c-white;
				padding-bottom: 86px;

				@include media($mobile) {
					max-width: 1500px;
					width: 100%;
				}

				h2 {
					&::after {
						content: '';
						display: block;
						height: 200px;
						width: 200px;

						background-image: url('../img/logos/personalgrowth_300x300.png');
						background-size: contain;
						background-repeat: no-repeat;
						margin: 0;

						@include media($small) {
							height: 150px;
							width: 150px;
						}
					}
				}
			}
		}

		&:nth-child(8) {
			color: $c-black;
			background-color: $c-soft-grey;
		}

		&:nth-child(9) {
			color: $c-white;
			background-color: $c-green;
		}
	}
}

.our-communities {

	section {
		&:nth-child(4) {
			color: $c-black;
			background-color: $c-soft-grey;
		}

		&:nth-child(5) {
			color: $c-black;
			background-color: transparent;
		}

		&:nth-child(6) {
			color: $c-white;
			background-color: $c-green;
		}
	}

	.row {

		.quote-text {
			padding-right: 50px;
		}
	}

	.intro-mod {
		padding-top: 0;

		.quote-container {
			width: 90%;
			max-width: 550px;
			background-color: $c-green;
			padding: 30px;
			color: $c-white;
			padding-bottom: 86px;

			@include media($mobile) {
				max-width: 1500px;
				width: 100%;
			}

			h2 {
				margin-top: 0;
			}
		}
	}
}

.our-food {
	background: $c-white;
	color: $c-black;

	.intro-mod {
		padding-top: 0;
	}

	.quote-cite {
		content: '';
		display: block;
		height: calc(134px * .68);
		width: calc(300px * .68);

		background-image: url('../img/logos/afgc-png-300x134.png');
		background-size: contain;
		background-repeat: no-repeat;
		margin: 0;
		margin-top: 20px;
	}
}

.our-footprint {

	.intro-mod {
		padding-top: 0;

		.quote-container {
			width: 90%;
			max-width: 550px;
			background-color: $c-green;
			padding: 30px;
			color: $c-white;
			padding-bottom: 86px;

			@include media($mobile) {
				max-width: 1500px;
				width: 100%;
			}

			h2 {
				margin-top: 0;
			}
		}
	}
}
