.wine {
	.feature {
		position: relative;

		.inner {
			position: relative;
			z-index: 1;

			@include media($mobile) {
				width: 100%;
				border-radius: 0;
				padding: 0;
			}
		}

		.left {
			@include span-columns(4);

			clear: left;

			@include media($tablet-l) {
				@include span-columns(12);
				@include omega(2n);
			}

			@include media ($tablet-p) {
				@include omega-reset(3n);
				@include span-columns(12);
				@include omega(2n);
			}

			@include media ($mobile) {
				@include span-columns(12);
				@include omega-reset(2n);
				@include omega(1n);
				display: block;
			}

			h1 {
				@include f-brauer-black;
				text-transform: uppercase;

				color: $c-black;

				span {
					display: block;
					@include font-size(80px, 65px);
				}

				@include media($mobile) {
					@include font-size(40px, 40px);
					padding: 20px;
					text-align: center;

					span {
						@include font-size(40px, 40px);
					}
				}
			}

			.component {
				margin-top: 30px;

				@include font-size(19px, 28px);
				color: $c-black;

				@include media($mobile) {
					margin: 2px 0 0;
					border-radius: 0;
				}
			}

			.properties {
				@include media ($mobile) {
					@include span-columns(12);
				}

				.description {
					@include font-size(19px, 28px);

					margin-bottom: 40px;
				}

				.tasting-note-label {
					margin-top: 0;
					margin-bottom: 10px;

					@include f-themix-bold;
					@include font-size(21px, 26px);
				}

				.tasting-note-copy {
					@include font-size(19px, 28px);
				}

				.row {
					margin-top: 15px;

					&:first-of-type {
						margin-top: 0;

						h3 {
							margin-top: 0;
						}
					}
				}

				.download {
					margin-top: 15px;
					@include font-size(12px);

					a {
						letter-spacing: 1.5px;
						text-decoration: underline;
					}
				}
			}
		}

		.bottle-image,
		.ingredients-image {
			margin: 0 auto;
			display: block;
			height: 820px;
			padding: 0 4vh;

			@include media($hero-l) {
				height: 76vh;

				@include media($tablet-l) {
					height: 400px;
				}
			}
		}

		.ingredients-image {
			display: block;
			position: absolute;
			top: 0;
			left: 50%;

			transform: translateX(-50%);

			@include media($tablet-l) {
				display: none;
			}

		}

		.product {
			@include span-columns(8);
			position: relative;

			float: right;
			margin-right: 0;

			@include media($tablet-l) {
				@include span-columns(6);
				@include omega(2n);
				float: left;
				clear: left;

				padding: 40px 0;
				width: 100%;

				text-align: center;
			}

		}

		.ingredients {
			@include span-columns(4);

			float: right;

			@include media($tablet-l) {
				display: none;
			}

			> img {
				height: 820px;
				padding: 0 2vh;

				@include media($hero-l) {
					height: 80vh;
				}
			}
		}
	}
}
