<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
	<head>
		<meta charset="UTF-8">
		<meta charset="{{ function('bloginfo','charset') }}">
		<meta name="viewport" content="width=device-width, maximum-scale=1">
		<title>{{ title }}</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="description" content="{{ function('bloginfo','description') }}">
		<!--[if lt IE 9]>
			<script>
				document.createElement('header');
				document.createElement('nav');
				document.createElement('section');
				document.createElement('article');
				document.createElement('aside');
				document.createElement('footer');
			</script>
		<![endif]-->
		{{ function('wp_head') }}
	</head>
