.not-found-container {

	position: relative;
	vertical-align: middle;

	min-height: 420px;
	height: 70vh;

	background-color: $c-yt-yellow;

	&::before {
		background: radial-gradient(
			ellipse at 50% 50%,
			$c-yt-yellow-rgba-light 10%,
			$c-yt-yellow-rgba-dark 50%,
			$c-yt-yellow-rgba-dark 100%
		);
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		opacity: .8;
	}

	.not-found {

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		display: inline-block;
		width: 100%;

		.not-found-title {

			text-align: center;
			margin-bottom: 20px;

			@include f-brauer-black;
			@include font-size(66px);
			text-transform: uppercase;

			color: $c-black;

			@include media($tablet-p) {
				margin-top: 10px;
				margin-bottom: 45px;
				padding: 0 20px;
				@include font-size(46px);
			}
		}

		.not-found-link {
			text-align: center;

			margin: 10px;

			@include f-brauer-black;
			@include font-size(34px);
			text-transform: uppercase;
		}
	}

}
